.btn-submit {
  background: #326295;
	border: 1px solid #391515;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	width: 140px;
}